USE [Baza_licytacji_lasow]
GO
/****** Object:  Trigger [dbo].[date_format]    Script Date: 19.07.2023 17:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[date_format] ON [dbo].[AUKCJE_LASY]
AFTER INSERT
AS 
BEGIN
    UPDATE AUKCJE_LASY
    SET AUK_DATA_BIN = CONVERT(DATE, SUBSTRING(AUK_DATA, 1, 10), 104) , 
	AUK_CENA_WYWOLAWCZA_NUM = CONVERT(DECIMAL(20, 2), REPLACE(REPLACE(REPLACE(AUK_CENA_WYWOLAWCZA, ' ', ''), 'zł', ''), ',', '.'))

	Where AUKCJE_LASY.AUK_ID IN (SELECT AUK_ID FROM INSERTED) 
END
